
@import '@angular/material/prebuilt-themes/indigo-pink.css';



body, html {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    // background-color: #fff; /* Black background */
    color: #0e0000; /* White text for contrast */
    font-family: 'Arial', sans-serif; /* Clean font for readability */
    height: 100%; /* Ensure it covers the full height */
    box-sizing: border-box; /* Include padding and border in width/height */
    background-image: -webkit-linear-gradient(0deg,#38383c 0%, #d6d0d0 100%);
  }
  
.spacer {
    flex: 1 1 auto;
  }
  a {
    color: white;
    text-decoration: none;
  }
  html {
    scroll-behavior: smooth;
  }
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  scroll-behavior: smooth;
}